@model List<FunDateIdeas.DAL.Data.DateIdea>
@{
    ViewData["Title"] = "Manage Date Ideas";
}
<div class="card">
    <div class="card-header">
        <h5>Manage Date Ideas</h5>
    </div>
    <div class="card-body">
        <div class="">
            <a href="/DateIdeas/AddDateIdea" class="btn btn-primary">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add Date Idea
            </a>
        </div>
        @if (Model.Count() > 0)
        {
            <table id="dateIdeasTable" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var rowId = "Id" + item.Id;
                        <tr id="@rowId">
                            <td>@item.Id</td>
                            <td>
                                <a class="btn btn-outline-primary" href="/Account/UpdateUser?Id=@item.Id"><span class="fa fa-update"></span>Update</a>
                                <button class="btn btn-outline-danger" onclick="removeUser('@item.Id','@item.Title')"><span class="fa fa-remove"></span>Remove</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h4>No date ideas created yet. Add some by clicking the Add Date Idea button.</h4>
        }
    </div>
</div>

<div class="modal fade" id="deleteDateIdeaModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning justify-content-between">
                <h4 class="modal-title" id="myModalLabel">
                    Confirm Date Idea removal
                </h4>
                <button type="button" class="close data-dismiss" data-dismiss="modal"
                        aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <form action="/DateIdeas/DeleteDateIdea" method="post">
                    <input id="Id" name="Id" hidden />
                    <h4>Please confirm you would like to remove <span class="text-danger" id="dateIdeaToDelete"></span> from the website.</h4>
                    <div class="pt-2 row justify-content-end">
                        <button type="submit" class="btn btn-danger">Confirm</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer row justify-content-end">
                <button type="button" class="btn btn-default data-dismiss"
                        data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />

}

@section Scripts {
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dateIdeasTable').DataTable({
                'bPaginate': false,
                'bLengthChange': false,
            });

            $('.data-dismiss').click(function () {
                $('#deleteDateIdeaModal').css("display", "none").removeClass("show");
            })
        });
        function removeUser(dateIdeaId, title) {
            $('#Id').val(dateIdeaId);
            $('#dateIdeaToDelete').html(title);
            $('#deleteDateIdeaModal').css("display", "flex").addClass("show");
        }
    </script>
}





